.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.custom-navigation {
  padding: 10px;
}

.body-container {
  margin: 10px !important;
}

.space-between {
  justify-content: space-between !important;
}

.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.product-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #008250 !important;
  cursor: pointer;
}

.product-description {
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-details-container {
  padding: 40px;
}

.product-details-image {
  width: 100%;
  height: 100%;
}

.rating-text {
  padding-left: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #2e4ad6;
  text-decoration: underline;
  cursor: pointer;
}

.unit-price-text {
  font-size: 40px;
  font-weight: bold;
  color: #008250;
}

.label-paragraph-12 {
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  color: #757575;
  text-align: start;
}

.product-details-text-c3 {
  text-align: start;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.vendor-name {
  margin: 0px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.vendor-ratings {
  margin: 0px;
  padding-left: 10px;
  font-size: 30px;
  font-weight: bold;
}

.flag-icons .ui.label > img {
  width: 30px !important;
  height: 20px !important;
}
